body {
  font-family: Futura, "Trebuchet MS", sans-serif;
  background-image: url("brushed_@2X.png");
}

.list_view {
  height: 500px;
}

.thumbnail {
  background: none;
  border: none;
}

.row{
  padding: 5%;
}

.img-responsive {
  width: 100%;
}