<h1>Framework products</h1>


<div class= "row">
  <% @products.each do |product| %>
    <div class="col-md-offset-1 col-md-3 col-sm-6 list-view">
      <div class="thumbnail">
        <div class="caption"
          <h2><%= link_to product.name, "/products/#{product.id}" %></h2>
          <img src=<%= product.images.first%>/>
          <p><%= product.price %></p>
          <p><%= product.description %></p>
        </div>    
      </div>
    </div>
  <% end %>
</div>